<!--
  Manipulator specific version of abb_driver's 'robot_interface.launch'.

  Defaults provided for IRB 120:
   - J23_coupled = false

  Usage:
    robot_interface_download_irb120.launch robot_ip:=<value>
-->
<launch>
  <arg name="robot_ip" doc="IP of the controller" />
  <arg name="J23_coupled" default="false" doc="If true, compensate for J2-J3 parallel linkage" />

  <rosparam command="load" file="$(find abb_irb120_support)/config/joint_names_irb120_3_58.yaml" />

  <include file="$(find abb_driver)/launch/robot_interface.launch">
    <arg name="robot_ip"    value="192.168.125.1" />
    <arg name="J23_coupled" value="$(arg J23_coupled)" />
  </include>

<!-- Weiss gripper nodes -->
  <node pkg="weiss_gripper_ieg76" type="driver.py" name="weiss_gripper_ieg76_driver" output="screen">
      <param name="serial_port_address" value="/dev/ttyACM0"/>
  </node>

  <node pkg="weiss_gripper_ieg76"	type="gripperUse.py" name="open_close_gripper" output="screen"/>

<!-- ABB nodes -->
  <node pkg="abb_irb120_support"	type="moveRobot.py" name="move_the_robot" output="screen"/>
  <node pkg="abb_irb120_support"	type="stopRobot.py" name="stop_the_robot" output="screen"/>
  <node pkg="abb_irb120_support"	type="calibration.py" name="calibrate_the_robot" output="screen"/>
  <node pkg="abb_irb120_support"	type="optoForceRobot.py" name="OptoForce" output="screen"/>


</launch>
